@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500;700&display=swap');

body{
font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #717A81;
	
}


h1,h2,h3,h4,h5,h5,h6{
	
	font-family: 'Poppins', sans-serif;
	
}
header{
	
	background-color: #000000;
	padding: 20px 0;
	text-align: center;
}

#hero{
	
	background-image: url("../img/v36-intro.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 200px 0;
	color: #fff;
	
}

#hero h1, 
#slides h1{
	font-size: 70px;
	font-weight: 700;
}

#hero h2, 
#slides h2{
	font-size: 24px;
	margin-top:  40px;
	margin-bottom: 60px; 
	color: #CACACA;
}

#hero .btn, 
#products .btn, 
.btn-azul{
	text-transform: uppercase;
	padding: 20px 40px;
	font-weight: 400;
	letter-spacing: 1px;
	border-radius: 40px;
	color: #fff;
}

.title{
	font-weight:500px;
	text-align: center;
	font-size: 40px;
	color: #303132;
	margin-bottom:30px;
	
}

.subtitle{
	font-size: 18px;
	text-align: center;
	margin-bottom: 40px;
	
}

.section{
	
	padding: 60px 0;
	
}

#what {
	
	text-align: center;
}

#what h4{
	
	font-size: 14px;
	font-weight: 700px;
	text-transform: uppercase;
	color: #303132;
	letter-spacing: 1px;
}

#products{
	background-color: #000;
	color: #fff;
	
}

#products .title{
	
	text-align: left;
	color: #fff;
}

#products .subtitle{
	
	text-align: left;
	color: #d2d2d2;
	font-size: 18px;
}


.title-ptop{
	
	padding-top: 100px;
}

#pods .title{
	
	text-align: left;
}

#pods h3{
	
	
	font-size: 13px;
	letter-spacing: 10px;
}

.content{
	padding:  10% 15%
}

.content .title{
	
	text-align:left;

		font-weight:500px;
	
	font-size: 40px;
	color: #303132;
	margin-bottom:30px;
}

.content p{
	
	font-size: 20px;
}

.conent .btn{
	
	margin-top: 30px;
}
.bg-story{
	background-image: url("../img/v36-intro.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-story2{
	background-image: url("../img/Rectangle-12-Copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#about-icons{
	background-color: #101011;	
}

#about-icons h3{
	
	color: #fff;
	font-size: 20px;
}

#about-icons p{
	font-size: 16px;
}

#about-icons i{
	font-size: 32px;
	color: #4859fc;
}

#about-icons .row{
	margin-bottom: 3%;
}

footer{
	padding: 5% 0;
}

footer #info h3{
	
	font-size: 14px;
	text-transform: uppercase;
	font-weight:600;
	margin-bottom: 30px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

footer #copy{
	
	border-top: 1px solid #ddd;
	text-align: center;
	padding: 40px 0;
}

footer #info a{
	
	color: #303132;
}